<div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Restablecer Contraseña</h3>
                <form action="/restore/reset-password/{{token}}" method="post" id="resetForm">
                    <div class="form-group">
                        <label for="password">Contraseña Nueva</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Verificar que las contraseñas coincidan antes de enviar el formulario
        document.getElementById('resetForm').addEventListener('submit', function (e) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            if (password !== confirmPassword) {
                alert('Las contraseñas no coinciden');
                e.preventDefault();
            }
        });
    </script>