<h1>Restore Password</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Restablecer Contrase침a</h3>
            <p>Por favor, ingrese su direcci칩n de correo electr칩nico para recibir el enlace de restablecimiento.</p>
            <form action="/restore/forgot-password" method="post">
                <div class="form-group">
                    <label for="email">Correo Electr칩nico</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>